# {{ name }}
{{ description }}

{{# instance }}## Constructor
{{ description }}

```js
new {{ name }}({{ syntax parameters }});
```

*Parameters*
{{> parameters }}

---{{/ instance }}

## Properties

## Methods
