{{{ wiki }}}
# Interface {{ name }}
{{ description }}

{{# instance }}## Constructor
{{ description }}

### Syntax
```js
new {{ name }}({{ syntax parameters }});
```

*Parameters*

{{> parameters }}
---{{/ instance }}

{{# if properties }}{{> properties }}{{/ if }}

{{# if functions }}{{> methods }}{{/ if }}
