## Methods

{{# functions }}
### {{ uc name }} 
{{{ description }}}

#### Syntax
```js
obj.{{ name }}({{ syntax parameters }})
```

*Parameters*

{{> parameters }}
{{# if returns }}
*Returns*
> {{ returns.type }} - {{{ returns.description }}}{{/ if }}

### Examples

{{/ functions }}
---
