## Methods

{{# functions }}
### {{ name }} 
{{{ description }}}

#### syntax
```js
obj.{{ name }}({{ syntax parameters }})
```

{{# if parameters }}
*parameters*

{{> parameters }}{{/ if }}
{{# if returns }}
*returns*
> {{ returns.type }} - {{{ returns.description }}}{{/ if }}

#### examples

{{/ functions }}
---
